{erl_opts, [warn_unused_vars, warnings_as_errors,
            warn_export_all,
            warn_shadow_vars,
            warn_unused_import,
            warn_unused_function,
            warn_bif_clash,
            warn_unused_record,
            warn_deprecated_function,
            warn_obsolete_guard,
            strict_validation,
            warn_export_vars,
            warn_exported_vars,
%            warn_missing_spec,
            warn_untyped_record, debug_info]}.
{deps_dir, "deps"}.
{deps, [
 {ibrowse, ".*", {git, "git@github.com:inaka/ibrowse.git", {tag, "bd050fe160ddf777f0aa984f478a72ecec829d52"}}},
 {eper, "0.60", {git, "git@github.com:mhald/eper.git", {tag, "4bda88076827de6874d845a22cfb9e68bf7d8ade"}}},
 {jiffy, "0.7.*", {git, "git@github.com:davisp/jiffy.git", {tag, "ee788ca28f6642c2ca6005d4c65df1eced66b245"}}}
]}.
{xref_warnings, true}.
{xref_checks, [undefined_function_calls, undefined_functions, locals_not_used, deprecated_function_calls, deprecated_functions]}.
{ct_extra_params,"-no_auto_compile -dir ebin -logdir log/ct -smp enable -boot start_sasl"}.
{edoc_opts, [{report_missing_types, true}, {source_path, ["src"]}, {report_missing_types, true}, {todo, true}, {packages, false}, {subpackages, false}]}.
