[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

 {popcorn_heartbeat_erlang, [
     {popcorn_host,     "127.0.0.1"},
     {popcorn_port,     9125}
    ]},

{kernel_params,
 [
  {sync_nodes_timeout, 1000},
  {start_pg2, true}
 ]}
].
